# Python
__pycache__/
*.pyc
venv/
.venv/

# Node
node_modules/

# Build
build/
dist/

# OS
.DS_Store

# Env
.env

# Project venv
dqn-cart-pole-env/
env/

# RL outputs
runs/
*.pt
*.pth
*.ckpt
*.log
*.png
*.npy
*.npz

# VS Code
.vscode/
